* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, ProximaNova, arial,
    Helvetica Neue, sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif, monospace;
}
