.body-header {
  padding-top: 20px;
  font-weight: 800;
  font-size: 24px;
}
.body {
  padding-top: 20px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.btn {
  border-color: black;
  font-weight: 700;
  margin: 20px;
}

/* search bar */
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  width: 100%;
  /* position: absolute; */
  align-items: center;
  border: 2px solid rgb(218, 218, 218);
  border-radius: 10px;
}
.search-text {
  flex: 1;
  color: #02060c99;
}
.search-input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  border: none !important;
  padding-left: 10px;
  outline: none;
}

.search-icon {
  position: relative;
  padding-right: 5px;
  padding-left: 0;
}
.search-cont {
  padding-top: 120px;
  padding-bottom: 20px;
}
